---
---

footer {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  line-height: var(--spacing);
  box-shadow: var(--shadow);
}

footer a {
  color: black !important;
}

footer a:hover {
  color: black !important;
}

footer .icon {
  color: black;
}
